$principal-font: 'Roboto', sans-serif;

/*Fonts-sizes mobile*/
$title-size: 4rem;
$primary-text-size: 1.6rem;
$title-desk: 5rem;

/*Colors*/
$primary-color: #FF6A3A;
$secondary-color: #232742;
$tertiary-color: #62626e;
$error-state: #ffe8e6;

$primary-text-color: #62626e;
$secondary-text-color: #232742;
$tertiary-text-color: #d5d5d5;
$light-color: #ffffff;
$error-text: #f09391;

$breakpoints: (
    md: 800px,
    lg: 1024px 
);

@mixin media-up($breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

