@use '../abstracts/vars.scss' as a;

.sign-up-container {
    width: 100%;
    height: 100%;
    font-size: a.$primary-text-size;
    @include a.media-up(lg){
        display: grid;
        grid-template-areas: 
        'sign img'
        'sign img'
        'sign img'
        'atri atri';
        padding: 20px;
        background-color: white;  
        border-radius: 20px;
    }
    &__img {
        width: 100%;
        height: 40%;
        @include a.media-up(lg){
            grid-area: img;
            height: 100%;
        }
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100%;
        height: 100%;
        padding: 20px;
        gap: 20px;
        h1 {
            font-size: a.$title-size;
            font-weight: 700;
            color: a.$secondary-text-color;
            @include a.media-up(lg) {
                font-size: a.$title-desk;
            }
        }
        p {
            font-weight: 400;
            color: a.$primary-text-color;
        }
        @include a.media-up(lg){
            grid-area: sign;   
            width: 90%;
            justify-content: center;
            justify-self: center;
        }
    }
    &__check-list {
        display: flex;
        gap: 15px;
        align-items: center;
        span {
            display: inline-block;
            width: 30px;
            height: 30px;
            background-image: url('../assets/images/icon-list.svg');
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    &__input {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;
        div {
            display: flex;
            justify-content: space-between;
           
            label {
                font-size: 1.4rem;
                color: a.$secondary-text-color;
            }
            p {
                font-size: 1.4rem;
                color: a.$error-text;
            }
        }
        input {
            width: 100%;
            height: 50px;
            padding-left: 20px;
            border-radius: 6px;
            border: 1px a.$tertiary-text-color solid;
            font-size: a.$primary-text-size;
            &::placeholder {
                font-size: a.$primary-text-size;
                color: a.$tertiary-text-color;
            }
            &:focus{
                font-size: a.$primary-text-size;
                outline: 1px solid a.$secondary-color;
            }
        }
    }
}

.success-container {
    display: grid;
    grid-template-rows: 2fr 1fr;
    width: 100%;
    height: 95vh;
    padding: 50px 20px;
    align-items: end;
    @include a.media-up(lg) {
        width: 480px;
        height: auto;
        padding: 50px;
        background-color: a.$light-color;
        border-radius: 30px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 40px;
        @include a.media-up(lg) {
            gap: 10px;
        }
        div {
            width: 70px;
            height: 70px;
            background-image: url('../assets/images/icon-success.svg');
            background-repeat: no-repeat;
            background-position: center;
        }
        h2 {
            font-size: a.$title-size;
            color: a.$secondary-text-color;
            @include a.media-up(lg) {
                font-size: a.$title-desk;
            }
        }
        p {
            font-size: a.$primary-text-size;
            .email-registered {
                font-weight: 700;
            }
        }
    }
}

.attribution-container { 
    justify-self: end;
    font-size: 1.1rem; 
    text-align: center;
    margin-bottom: 20px; 
    a { 
        color: hsl(228, 45%, 44%); 
    }
    @include a.media-up(lg) {
        grid-area: atri;
        place-self: center;
        margin: 10px 0;
    }
}